.room__item-dsc{
    .heading{
        @include text(12px,ah,normal,$black-cl,uppercase);
        margin-bottom: 30px;
    }
    .img{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
}